body {
  background-color: #f7567c;
  font-family: 'Poppins', sans-serif;
  color: #fcfcfc;
  margin: 0;
}

h1 {
  font-size: 60px;
  text-align: center;
  text-shadow: 4px 4px #558abb;
  margin: 0;
}

a {
  color: #222831;
  text-decoration: none;
  font-style: italic;
}

#main-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

#grid-container {
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 220px));
  grid-template-rows: repeat(3, minmax(90px, 220px));
  margin-left: auto;
  margin-right: auto;
}

.cell {
  font-size: 110px;
  background-color: #fcfcfc;
  color: #222831;
  border: 4px solid #558abb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dev {
  font-size: 13px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
