body {
  background-color: #615b93;
  font-family: 'Poppins', sans-serif;
  color: #fcfcfc;
  margin: 0;
  font-weight: 600;
}

#headings h1 {
  font-size: 80px;
  text-align: center;
  text-shadow: 4px 4px #222831;
  margin: 0;
}

#dev {
  font-size: 13px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

a {
  color: #222831;
  font-style: italic;
}

#main-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

#grid-container {
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(3, 220px);
  margin-left: auto;
  margin-right: auto;
}

.cell {
  font-size: 170px;
  background-color: #222831;
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-middle {
  border-top: 2px solid #fcfcfc;
  border-bottom: 2px solid #fcfcfc;
}

.horizontal-middle {
  border-right: 2px solid #fcfcfc;
  border-left: 2px solid #fcfcfc;
}

#game-info-container {
  display: flex;
  height: 170px;
  width: 660px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 20px;
}

.widget {
  text-align: center;
}

.widget h1 {
  margin: 0;
  font-size: 43px;
}

.widget h2 {
  margin: 20px 0 10px 0;
  font-weight: 400;
}

.widget h3 {
  margin: 12px 0;
  font-size: 20px;
}

#scores {
  background-color: #fcfcfc;
  height: 100%;
  width: 40%;
  color: #222831;
}

#current-turn {
  background-color: #222831;
  height: 100%;
  width: 60%;
}

@media only screen and (max-width: 55em) {
  #grid {
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
  }
  #headings h1 {
    font-size: 60px;
  }
  .cell {
    font-size: 150px;
  }
  #game-info-container {
    width: 540px;
    height: 140px;
  }
  .widget h1 {
    font-size: 35px;
  }
  .widget h2 {
    font-size: 23px;
    margin: 13px 0 8px 0;
  }
  .widget h3 {
    margin: 9px 0;
    font-size: 19px;
  }
}

@media only screen and (max-width: 43em) {
  #grid {
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
  }
  #headings h1 {
    font-size: 50px;
  }
  .cell {
    font-size: 110px;
  }
  #game-info-container {
    width: 390px;
    height: 120px;
  }
  .widget h1 {
    font-size: 25px;
  }
  .widget h2 {
    font-size: 23px;
    margin: 10px 0 6px 0;
  }
  .widget h3 {
    margin: 7px 0;
    font-size: 17px;
  }
}

@media only screen and (max-width: 31em) {
  #grid {
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
  }
  #headings h1 {
    font-size: 40px;
  }
  .cell {
    font-size: 90px;
  }
  #game-info-container {
    width: 330px;
    height: 100px;
  }
  .widget h1 {
    font-size: 21px;
  }
  .widget h2 {
    font-size: 18px;
    margin: 8px 0 5px 0;
  }
  .widget h3 {
    margin: 6px 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 26em) {
  #grid {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
  }
  #game-info-container {
    width: 250px;
    height: 80px;
  }
  .widget h1 {
    font-size: 16px;
  }
  .widget h2 {
    font-size: 14px;
    margin: 5px 0 2px 0;
  }
  .widget h3 {
    margin: 0;
    font-size: 14px;
  }
}
